:root{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#aae0e4;
    --bg-black-0:#d1ebeb;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
    --main-color:#005e83;
}
