.style-switch {
  position: fixed;
  right: 0;
  top: 75px;
  padding: 15px;
  width: 200px;
  background: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  z-index: 101;
  border-radius: 5px;
  transition: all 0.3s ease;
  transform: translateX(100%);
}

.style-switch.open {
  transform: translateX(-25px);
}
.style-switch .s-icon {
  position: absolute;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 20px;
  background: var(--bg-black-100);
  color: var(--text-black-900);
  right: 100%;
  border: 1px solid var(--skin-color);
  margin-right: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 50%;
}
.style-switch .s-icon i {
  line-height: 40px;
}
.style-switch .style-switch-toggler {
  top: 0;
}
.style-switch .day-night {
  top: 55px;
}
.style-switch h4 {
  margin: 0 0 10px;
  color: var(--text-black-700);
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}
.style-switch .colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.style-switch .colors span {
  display: inline-block;
  height: 30px;
  width: 30px;
  cursor: pointer;
  border-radius: 50%;
}
.style-switch .color-1 {
  background: gray;
}
.style-switch .color-2 {
  background-color: #25eee4;
}
.style-switch .color-3 {
  background: #37b182;
}
.style-switch .color-4 {
  background: #1854b4;
}
.style-switch .color-5 {
  background: #f021b2;
}

/* language switch */
.language {
  position: fixed;
  right: 0;
  top: 180px;
  padding: 15px;
  width: 200px;
  background: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  z-index: 101;
  border-radius: 5px;
  transition: all 0.3s ease;
  transform: translateX(100%);
}
.language.open {
  transform: translateX(-25px);
}
.language .l-icon {
  position: absolute;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--bg-black-100);
  color: var(--text-black-900);
  right: 100%;
  border: 1px solid var(--skin-color);
  margin-right: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 50%;
  top: 10px;
}
.language .l-icon h2{
   color: var(--text-black-900);
   font-weight: 800;
   font-size: 12px;
}
.language .lang-lists{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.language .lang-lists span{
  border: 1px solid var(--skin-color);
  width: 35px;
  height: 35px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: var(--text-black-900);
  font-weight: 700;
}